<div class="container">
  <form #aaa="ngForm" (submit)="signup()" class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      type="email" id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
      email
      name="email"
      [(ngModel)]="signupForm.email"
      #email="ngModel"
    >
    <!--    <div>{{email.errors | json}}</div>-->
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="alert">
      <div *ngIf="email.errors?.['required']">
        email is required.
      </div>
      <div *ngIf="email.errors?.['email']">
        Invalid Email.
      </div>
    </div>
    <div *ngIf="email_err_msg" class="alert alert-danger">{{email_err_msg}}</div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
      name="password"
      minlength="6"
      maxlength="18"
      [(ngModel)]="signupForm.password"
      #password="ngModel"
    >
    <div *ngIf="password.invalid && (email.dirty || email.touched)"
         class="alert">
      <div *ngIf="password.errors?.['required']">
        password is required.
      </div>
      <div *ngIf="password.errors?.['minlength']">
        Name must be at least 4 characters long.
      </div>
    </div>
    <button [disabled]="!aaa.valid"
            class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
  <p class="info"><a href="signin.html">Already have an account? Login here.</a></p>
</div>
